.card{
    height:150px;
    overflow: hidden;
    margin:5px;
    padding:5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    transition: height 0.3s linear;

    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
    z-index: -1;
}

.card.expanded{
    height:500px
}


